{{#docs-demo as |demo|}}
  {{#demo.example name="data-graphic-stacked-bars-demo.hbs"}}
    <button type="button" {{on "click" this.onStack}}>stack</button>
    <button type="button" {{on "click" this.onGroup}}>group</button>

    <DataGraphic::Frame as |Frame|>
      {{#let 80 40 40 5 250 as |paddingLeft paddingTop paddingBottom paddingRight duration|}}
        {{#let (scale "band" this.domain (array paddingLeft (sub Frame.WIDTH paddingRight)) padding=0) (scale "linear" this.range (array (sub Frame.HEIGHT paddingBottom) paddingTop) nice=5) as |xScale yScale|}}
          <Frame.Layer @renderer="svg" as |SVG|>
            <SVG.Mark
              @type="rect"
              @key="id"
              @data={{if this.isStacked this.stacked this.grouped}}
              @duration={{250}}
              @cx={{if this.isStacked
                (expr "x + y / 2"
                  x=(compose (field "category") xScale)
                  y=(compute xScale.bandwidth)
                )
                (expr "x + y"
                  x=(compose (field "category") xScale)
                  y=(compose
                    (field "type")
                    (scale "point" (array "apple" "orange") (compute xScale.bandwidth) padding=1)
                  )
                )
              }}
              @y1={{compose (field "0") yScale}}
              @y2={{compose (field "1") yScale}}
              @width="40"
              @fill={{field "fill"}}
              @opacity="1"
              @onClick={{unbound this.onBarClick}}
            />

            <SVG.Axis
              @orient="bottom"
              @scale={{xScale}}
              @transform={{template "translate(0 {0})" (sub Frame.HEIGHT paddingBottom)}}
            />

            <SVG.Axis
              @orient="left"
              @scale={{yScale}}
              @tickSizeOuter={{0}}
              @transform={{template "translate({0} 0)" paddingLeft}}
            />
          </Frame.Layer>
        {{/let}}
      {{/let}}
    </DataGraphic::Frame>
  {{/demo.example}}

  {{demo.snippet "data-graphic-stacked-bars-demo.hbs" label="template.hbs" language="hbs"}}

  {{demo.snippet "data-graphic-stacked-bars-controller.js" label="controller.js" language="js" }}
{{/docs-demo}}